<!DOCTYPE html>
<html>
<head>
  <title>Customer Donation Request</title>
  <link rel="stylesheet" href="Profile-Service.css">
</head>
<body>
    <h2>Customer Donation Request</h2>
  <form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="Name"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="Email"><br>
    <label for="Request">Request:</label><br>
    <textarea id="request" name="Request"></textarea><br>
    <input type="submit" value="Submit">
  </form> 