<!DOCTYPE html>
<html>
<head>
  <title>Service Representative Profile</title>
  <link rel="stylesheet" href="Profile-Service.css">
</head>
<body>
  <h1>Service Representative</h1>
  <h2>Hours of Operation</h2>
  <table>
    <tr>
      <th>Day</th>
      <th>Hours</th>
    </tr>
    <tr>
      <td>Monday</td>
      <td>9:00am - 5:00pm</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>9:00am - 5:00pm</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>9:00am - 5:00pm</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>9:00am - 5:00pm</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>9:00am - 5:00pm</td>
    </tr>
  </table>
  <h2>Products</h2>
  <table>
    <tr>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Product 1</td>
      <td>Description of product 1</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>Product 2</td>
      <td>Description of product 2</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>Product 3</td>
      <td>Description of product 3</td>
      <td>$150</td>
    </tr>
  </table>
  <h2>Customer Donation Request</h2>
  <form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="Name"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="Email"><br>
    <label for="Request">Request:</label><br>
    <textarea id="request" name="Request"></textarea><br>
    <input type="submit" value="Submit">
  </form> 
  <h2>Admin Assistance Approval</h2>
  <form>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="request">Request:</label><br>
    <textarea id="request" name="request"></textarea><br>
    <input type="submit" value="Submit">
  </form> 
  <h2>Scholarship Approval for Volunteers</h2>
<form>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="organization">Organization:</label><br>
  <input type="text" id="organization" name="organization"><br>
  <label for="request">Request:</label><br>
  <textarea id="request" name="request"></textarea><br>
  <input type="submit" value="Submit">
</form> 
