<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="ajax.js"></script>
    <script src="./main.js"></script>
    <title>reset-password</title>
</head>
<body>
    <div>
            <input type="email" id="user-email">
            <input type="password" id="user-new-password">
            <button onclick="changePasswordv2()" id="change-password-button">change password</button>
    </div>
</body>
</html>